*{
    font-family: 'Roboto', sans-serif;
}
.mycontainer {
    color: white;
    width: 300px;
    height: 200px;
    background-image: url('2.jpg');
    background-position: center;
    background-size: cover;

    border-radius: 10px;
    text-align: center;
    padding-top: 40px;
}
.wrap {
    margin: auto;
    width: 300px;
}

.mybtn{
    width: 300px;
    height: 50px;
    color: white;
    background-color: brown;
    border-radius: 10px;
}